Magic 271485
Revision Verdi_Q-2020.03

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1536 801 270 98

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/N26121664/N26121664/rtl/build/top.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 108379262.070283 108420728.432197
cursor 136315120.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 6
; marker line index
markerPos 51

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByValue


addGroup "G1"
activeDirFile "" "/home/N26121664/N26121664/rtl/build/top.fsdb"
addSignal -h 15 /top_tb/TOP/DMA_wrapper/AWADDR_M2[31:0]
addSignal -h 15 -holdScope AWREADY_M2
addSignal -h 15 -holdScope AWVALID_M2
addGroup "G2"
addSignal -h 15 /top_tb/TOP/DMA_wrapper/AWADDR_S7[31:0]
addSignal -h 15 -holdScope AWREADY_S7
addSignal -h 15 -holdScope AWVALID_S7
addGroup "G3"
addSignal -h 15 /top_tb/TOP/DMA_wrapper/WDATA_S7[31:0]
addSignal -h 15 -holdScope WREADY_S7
addSignal -h 15 -holdScope WVALID_S7
addGroup "G4"
addSignal -h 15 /top_tb/TOP/DMA_wrapper/DMA_WEB
addSignal -h 15 -holdScope DMA_en
addSignal -h 15 -holdScope DMA_interrupt
addSignal -h 15 -holdScope DMA_data_num[31:0]
addGroup "G5"
addSignal -h 15 -UNSIGNED -HEX /top_tb/TOP/DMA_wrapper/ARADDR_M2[31:0]
addSignal -h 15 -holdScope ARREADY_M2
addSignal -h 15 -holdScope ARVALID_M2
addSignal -h 15 -holdScope RDATA_M2[31:0]
addSignal -h 15 -holdScope RREADY_M2
addSignal -h 15 -holdScope RVALID_M2
addGroup "G6"
addSignal -h 15 -UNSIGNED /top_tb/TOP/DMA_wrapper/state_r[1:0]
addSignal -h 15 -holdScope r_counter[31:0]
addSignal -h 15 -UNSIGNED -holdScope state_w[1:0]
addSignal -h 15 -holdScope w_counter[31:0]
addSignal -h 15 /top_tb/TOP/DRAM_wrapper/DRAM_A[10:0]
addGroup "G7"
addSignal -h 15 /top_tb/TOP/CPU1/cpu/if_pc_reg_o[31:0]
addSignal -h 15 -holdScope L1IC_core_out_i[31:0]
addSignal -h 15 -holdScope mem_mem_addr_o[31:0]
addSignal -h 15 -holdScope mem_mem_wdata_o[31:0]
addSignal -h 15 /top_tb/TOP/AXI/AWADDR_M1[31:0]
addGroup "G8"
addSignal -h 15 /top_tb/TOP/CPU1/AWADDR_M1[31:0]
addSignal -h 15 -holdScope AWREADY_M1
addSignal -h 15 -holdScope AWVALID_M1
addGroup "G9"
addSignal -h 15 /top_tb/TOP/CPU1/WDATA_M1[31:0]
addSignal -h 15 -holdScope WREADY_M1
addSignal -h 15 -holdScope WVALID_M1
addGroup "G10"
addGroup "G11"
addSignal -h 15 /top_tb/TOP/AXI/Read_Address_Channel/ARREADY_M0
addSignal -h 15 -holdScope ARREADY_M1
addSignal -h 15 -holdScope ARREADY_M2
addGroup "G12"
addSignal -h 15 /top_tb/TOP/AXI/Read_Address_Channel/ARREADY_S7
addSignal -h 15 /top_tb/TOP/AXI/Read_Arbiter/AR_arbiter[5:0]
addGroup "G13"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/N26121664/N26121664/rtl/build/top.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/TOP"
"/top_tb/TOP/AXI"
"/top_tb/TOP/AXI/Read_Address_Channel"
"/top_tb/TOP/AXI/Read_Arbiter"
"/top_tb/TOP/AXI/Write_Address_Channel"
"/top_tb/TOP/AXI/Write_Arbiter"
"/top_tb/TOP/AXI/axi_s5_cdc"
"/top_tb/TOP/AXI/axi_s7_cdc"
"/top_tb/TOP/DMA_wrapper"
"/top_tb/TOP/DRAM_wrapper"

SCOPE_LIST_BEGIN
"/top_tb"
"/top_tb/TOP"
"/top_tb/TOP/CPU1"
"/top_tb/TOP/DRAM_wrapper"
"/top_tb/TOP/DMA_wrapper"
"/top_tb/TOP/CPU1/cpu"
"/top_tb/TOP/CPU1/cpu/pc"
"/top_tb/TOP/CPU1/cpu/memwb"
"/top_tb/TOP/CPU1/L1IC"
"/top_tb/TOP/CPU1/L1IC/DA"
"/top_tb/TOP/AXI"
"/top_tb/TOP/AXI/Write_Response_Channel"
"/top_tb/TOP/AXI/Read_Address_Channel"
"/top_tb/TOP/AXI/Write_Address_Channel"
"/top_tb/TOP/AXI/Write_Arbiter"
"/top_tb/TOP/AXI/Write_Data_Channel"
"/top_tb/TOP/AXI/axi_s7_cdc"
"/top_tb/TOP/AXI/axi_s5_cdc"
"/top_tb/TOP/AXI/axi_s2_cdc"
"/top_tb/TOP/AXI/Read_Arbiter"
"/top_tb/TOP/AXI/Read_Data_Channel"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


