Magic 271485
Revision Verdi_Q-2020.03

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 1920 23 1920 1017 304 206

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/N26120082/VSD/Final/Packer/packer_stage_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 1457200.000000
cursor 195000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 50

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/N26120082/VSD/Final/Packer/packer_stage_tb.fsdb"
addSignal -h 15 /packer_stage_tb/clk
addSignal -h 15 -holdScope rst
addSubGroup "state"
addSignal -h 15 -UNSIGNED /packer_stage_tb/packer_stage/curr_state[2:0]
addSignal -h 15 /packer_stage_tb/packer_stage_start
endSubGroup "state"
addSubGroup "Premode"
addSignal -h 15 /packer_stage_tb/Premode_CodeBit[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope Premode_CodeLength[6:0]
endSubGroup "Premode"
addSubGroup "CAVLC"
addSignal -h 15 -UNSIGNED -UDEC /packer_stage_tb/packer_stage/cavlc_count[4:0]
addSignal -h 15 /packer_stage_tb/CAVLC_CodeBit[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope CAVLC_CodeLength[6:0]
addSignal -h 15 -holdScope CAVLC_done
endSubGroup "CAVLC"
addSubGroup "output"
addSignal -h 15 /packer_stage_tb/full
addSignal -h 15 -holdScope output_data[31:0]
addSignal -h 15 -holdScope pop
addSignal -h 15 -holdScope packer_stage_finish
addSignal -h 15 /packer_stage_tb/packer_stage/CAVLC_done
endSubGroup "output"
addSubGroup "packer_output"
addSignal -h 15 -UNSIGNED -HEX /packer_stage_tb/packer_stage/packer_output_data_64[64:0]
endSubGroup "packer_output"
addGroup "FIFO"
addSignal -h 15 /packer_stage_tb/packer_stage/f1/FIFO[127:0]
addSignal -h 15 -holdScope push_1
addSignal -h 15 -holdScope push_2
addSignal -h 15 -holdScope write_ptr_1[6:0]
addSignal -h 15 -holdScope write_ptr_2[6:0]
addSignal -h 15 -holdScope push_data_1[31:0]
addSignal -h 15 -holdScope push_data_2[31:0]
addSignal -h 15 -holdScope full
addSignal -h 15 -holdScope pop
addSignal -h 15 -holdScope pop_data[31:0]
addSignal -h 15 -holdScope read_ptr[6:0]
addGroup "packer_submodule" -e FALSE
addSubGroup "IO"
addSignal -h 15 /packer_stage_tb/packer_stage/packer_CodeBit[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope packer_CodeLength[6:0]
addSignal -h 15 -holdScope packer_oe
addSignal -h 15 -UNSIGNED -HEX -holdScope packer_output_data_64[64:0]
addSignal -h 15 /packer_stage_tb/packer_stage/packer/out_buf[63:0]
addSignal -h 15 -holdScope oe
endSubGroup "IO"
addSubGroup "inside_packer"
addSignal -h 15 -UNSIGNED -UDEC /packer_stage_tb/packer_stage/packer/I_buf[6:0]
addSignal -h 15 -holdScope Buffer_full[63:0]
addSignal -h 15 -holdScope Buffer_not_full[63:0]
addSignal -h 15 -holdScope LSH[63:0]
addSignal -h 15 -holdScope LSH_new[63:0]
addSignal -h 15 -holdScope RSH[63:0]
addSignal -h 15 -holdScope not_full
endSubGroup "inside_packer"
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/N26120082/VSD/Final/Packer/packer_stage_tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/packer_stage_tb"
"/packer_stage_tb/packer_stage"
"/packer_stage_tb/packer_stage/packer"

SCOPE_LIST_BEGIN
"/packer_stage_tb"
"/packer_stage_tb/packer_stage"
"/packer_stage_tb/packer_stage/f1"
"/packer_stage_tb/packer_stage/Packer_input"
"/packer_stage_tb/packer_stage/packer"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


